@model CustomerEditViewModel

@{
    ViewBag.Title = "Edit Customer";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "shock.png");
}

<form enctype="multipart/form-data" asp-controller="Customer" asp-action="edit"
      method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Member" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="custom-select mr-sm-2" asp-for="Member" asp-items="Html.GetEnumSelectList<Mem>()"></select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photos" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img src="@photoPath" class="imageThumbnai" asp-append-version="true" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Update</button>
            <a asp-controller="customer" asp-action="index"
               class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts{
        @*<script>
                $(document).ready(fucntion() {
                    $('.custom-file-lable').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-lable').html(filename);
                    })
                });
            </script>*@

        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    //console.log($(this));
                    var fileLabel = $(this).next('.custom-file-label');
                    console.log("Step1");
                    var files = $(this)[0].files;
                    console.log("Step2");
                    if (files.length > 1) {
                        console.log("Step3");
                        fileLabel.html(files.length + ' files selected');
                        console.log("Step4");
                    }
                    else if (files.length == 1) {
                        console.log("Step5");
                        fileLabel.html(files[0].name);
                        console.log("Step6");
                    }
                    console.log("Step7");
                    //console.log(filename);
                })
            });
        </script>
    }

    @*<div class="form-group row">
            <div class="col-sm-10">
                Total Employee Count = @_empRepository.GetAllEmployee().Count().ToString()
            </div>
        </div>*@
</form>